<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<h1>Tasks</h1>

<p>{{ user_name }} previous tasks</p>

<form action="{% url 'taskshower:index' %}"  method="post">
    {% csrf_token %}
    <input type="submit" name="exit" value="exit">
</form>

<form action="{% url 'taskshower:index' %}"  method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="name">
    <input type="text" name="time" placeholder="10">
    <input type="submit" name="submit" value="submit">
</form>

{% if correct_task %}
    <p>{{ correct_task }} was accepted</p>
{% endif %}

{% if incorrect_task_t and incorrect_task_n %}
    <p>{{ incorrect_task_n }} with time {{ incorrect_task_t }} was not accepted</p>
{% endif %}

<table>
<tr><td>имя</td><td>состояние</td></tr>
{% for task in tasks %}
    <tr>
        {% for elem in task %}
            <td>{{ elem }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% if any_data %}
    {% for data in any_data %}
        <p>{{ data }}</p>

    {% endfor %}
{%  endif %}

</body>
</html>