<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>login</h1>

{% if logged %}
    <p>user {{ logged }} succesfully logged in</p>
{% elif incorrect_data %}
    <p>incorrect data</p>
    <form action="{% url 'taskshower:login' %}"  method="post">
        {% csrf_token %}
        <input type="text" name="user_name" id="user_name" value="{{incorrect_data}}">
        <input type="password" name="password" id="password">
        <input type="submit" value="submit">
    </form>
{% else %}
    <form action="{% url 'taskshower:login' %}"  method="post">
        {% csrf_token %}
        <input type="text" name="user_name" id="user_name" placeholder="user name">
        <input type="password" name="password" id="password">
        <input type="submit" value="submit">
    </form>
{% endif %}

<p>new to out service? <a href="{% url 'taskshower:register' %}">Registration</a> </p>

{% if any_data %}
    {% for data in any_data %}
        <p>{{ data }}</p>

    {% endfor %}
{%  endif %}

</body>
</html>